apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: "{{ .Values.redis.repository }}:{{ .Values.redis.tag }}"
        ports:
        - containerPort: {{ .Values.redis.port }}